#acerca{
    /* background-image: url(https://cdn.pixabay.com/photo/2019/11/07/20/48/cinema-4609877_960_720.jpg); */
    height: 100%;
    background-color: #333333;
    padding-top: 0px;
    padding-bottom: 40px;
    border-bottom: solid 2px #6c7570;
}
#acerca p{
    margin: 0px;
}
#acerca a{
    text-decoration: none;
}
#acerca1{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}
#acerca #acerca-contenido{
    display: flex;
    flex-direction: row;
    padding-top: 0px;
    flex-wrap: wrap;
}
#acerca .acerca1-contenido{
    padding: 30px;
    border-radius: 20px;
    flex-basis: 200px;
    flex-shrink: 1;
    flex-grow: 1;
    align-self: flex-end;
    border: solid 2px #6c7570;
    margin: 5px;
}
#acerca1 h3{
    color: white;
    margin: 0px;
    padding-bottom: 20px;
}
#acerca1 p{
    color: white;
}
#acerca1 section{
    justify-self: center;
    align-self: flex-start;
    flex-basis: auto;
    height: 1fr;
    flex-shrink: 1;
    padding: 20px;
    border: solid 2px #6c7570;
    border-radius: 20px;
    margin-left: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    
}
#acerca1 a{
    width: 100px;
    height: auto;
}
#acerca1 img{
    width: 100%;
    height: 100%;
}