/* Modifica lo principal (body) */
body{
    margin: 0px;
}
.titulo-flotante{
    position: relative;
    display: flex;
    top: -15px;
    width: 400px;
    height: auto;
    font-size: 16px;
    font-weight: bold;
    color: white;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-right: solid 4px #6c7570;
    border-top: solid 4px #6c7570;
    border-bottom: solid 4px #6c7570;
    background-color: #235ece;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(.28,.75,.63,.64);
    transition-delay: 0s;
}
.titulo-flotante:hover{
    align-items: center;
    background-color: #013aa3;
}
.titulo-flotante:hover::after{
    position: absolute;
    right: 0px;
    color: rgb(184, 179, 179);
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 10px;
    overflow: hidden;
    content: "Presiona para ajustar";
}