#conoce-mas-de-nosotros{
    /* background-image: url(https://cdn.pixabay.com/photo/2019/11/07/20/48/cinema-4609877_960_720.jpg); */
    height: 100%;
    background-color: #333333;
    padding-top: 0px;
    padding-bottom: 10px;
    border-bottom: solid 2px #6c7570;
}
#conoce-mas-de-nosotros p{
    margin: 0px;
    width: 350px;
}
#conoce-mas-de-nosotros a{
    text-decoration: none;
    width: auto;
}