#contacto1 a:nth-child(1){
    margin: 0px;
    text-decoration: none;
    width: auto;
}
#contacto1 a:nth-child(1) p{
    margin: 0px;
}
#contenedor-contacto{
    display: flex;
    align-items: center;
    justify-content: center;
}
#contacto1{
    background-color: #333333;
    padding-top: 0px;
    padding-bottom: 40px;
    border-bottom: solid 4px #6c7570;
}
#contacto{
    margin-bottom: 0px;
    padding-bottom: 50px;
    padding-top:50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    color: white;
}
#borderbox{
    border: 7px solid rgb(83, 83, 83);
    display: inline-block;
    border-radius: 20px;
    padding: 50px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 70%, rgba(0,212,255,1) 100%);
    /* ,repeating-linear-gradient( 90deg, red, red 5px, white 5px, white 10px) */
    ;
}
#borderbox h3{
    color: white;
    background-color: #235ece;
    border-radius: 25px;
    width: 179px;
    text-align: center;
    border: solid 4px #6c7570;
}
.fab{
    font-size: 30px;
}

#boton-contacto{
    color: white;
    padding: 10px;
    background-color: #07ff07;
    border-radius: 25px;
    text-decoration: none;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(.28,.75,.63,.64);
    transition-delay: 0s;
}
#boton-contacto:hover{
    transform: scale(1.1);
    box-shadow: 10px 10px 29px -10px rgba(0,0,0,0.75);
}

textarea {
    resize: none;
    margin: 10px;
}

#derecha{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#derecha p{
    font-weight: bold;
    margin: 0px;
    color: white;
    background-color: #235ece;
    border-radius: 25px;
    padding: 5px;
    border: solid 4px #6c7570;
}
#derecha textarea{
    margin-top: 5px;
}
#izquierda{
    margin: 10px;
    display: flex;
    flex-direction: column;
}
#izquierda input{
    margin-bottom: 5px;
}
footer{
    margin: 20px;
    margin-right: 0px;
    align-self: center;
}
