/* Comenzar los css con nav */
header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: auto;
    background-color: #333333;
    border-bottom: solid 2px #6c7570;
}
nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: auto;
    width: 100%;
    border-bottom: solid 2px #6c7570;
}
nav div{
    justify-self: flex-start;
    width: auto;
    height: auto;
} 
nav div a{
    color: #6c7570;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 6px;
    text-decoration: none;
}
nav div a:hover{
    border-right: solid 2px #6c7570;
}
nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
    list-style: none;
    align-items:center;
    justify-self: flex-end;
    padding: 0px;
    padding-right: 2%;
    margin: 0px;
}
nav ul li:nth-child(n+1){
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-left: solid 2px #333333;
    border-right: solid 2px #333333;
}
nav ul li:hover{
    height: 100%;
    border-left: solid 2px #6c7570;
    border-right: solid 2px #6c7570;
}
nav ul li a{
    text-decoration: none;
    color: #6c7570;
}
#imagen-logo{
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
    border: solid 2px #333333;
    margin: 20px;
}
/* No me funciona el hover sobre el div */
#imagen-logo img{
    height: auto;
    width: 100%;
}
#imagen-logo:hover{
    border: solid 2px #6c7570;
    border-radius: 40px;
}