#nosotros{
    /* background-image: url(https://cdn.pixabay.com/photo/2019/11/07/20/48/cinema-4609877_960_720.jpg); */
    height: 100%;
    background-color: #333333;
    padding-top: 0px;
    padding-bottom: 40px;
    border-bottom: solid 2px #6c7570;
}

#nosotros p{
    margin: 0px;
}
#nosotros a{
    text-decoration: none;
}
#nosotros1{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}
#nosotros1 .nosotros1-contenido{
    padding: 30px;
    border-radius: 20px;
    flex-basis: 400px;
    flex-shrink: 1;
    flex-grow: 1;
    align-self: center;
    border: solid 2px #6c7570;
    margin-bottom: 10px;
    margin-top: 10px;
}
#nosotros1 h3{
    color: white;
    margin: 0px;
    padding-bottom: 20px;
}
#nosotros1 p{
    color: white;
}
#nosotros1 section{
    align-self: center;
    flex-basis: 100px;
    height: auto;
    flex-shrink: 1;
    padding: 20px;
    border: solid 2px #6c7570;
    border-radius: 20px;
    margin-left: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(.28,.75,.63,.64);
    transition-delay: 0s;
}
#nosotros1 section:hover{
    transform: scale(1.1);
    box-shadow: 10px 10px 29px -10px rgba(0,0,0,0.75);
}
#nosotros1 a{
    width: 100px;
    height: auto;
}
#nosotros1 img{
    width: 100%;
    height: 100%;
}