#proyectos-destacados{
    /* background-image: url(https://cdn.pixabay.com/photo/2019/11/07/20/48/cinema-4609877_960_720.jpg); */
    /* background-image: url(https://cdn.pixabay.com/photo/2020/02/02/13/23/lagoon-4812995_960_720.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%; */
    height: 100%;
}
#proyectos-destacados p{
    margin: 0px;
}
#proyectos-destacados a{
    text-decoration: none;
}
#importante{
    display: flex;
}
.izquierda, #menos-importante>.elemento-proyectos:nth-child(1){
    margin-left: 60px;
}
.derecha, #menos-importante>.elemento-proyectos:nth-child(3){
    margin-right: 60px;
}
.elemento-proyectos, .izquierda, .derecha{
    padding: 10px;
}
#importante img{
    width: 60%;
}
#menos-importante, #subtitulo{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
#subtitulo{
    margin-top: 20px;
    margin-bottom: 10px;
}

#menos-importante img{
    width: 50%;
}