body{
    display: flex;
    font-family:'Bangers', cursive;;
    font-size: 50px;
}
.caja1{
    background-color: blue;
    height: 200px;
    width: 200px;
}
.caja2{
    background-color: rgb(255, 0, 140);
    height: 150px;
    width: 150px;
}
.caja3{
    background-color: gray;
    height: 100px;
    width: 100px;
}
/* hola que tal */